<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Daniel Valenzuela</span></strong>. All Rights Reserved
    </div>

</footer><!-- End Footer -->

@code {

}
