@inherits LayoutComponentBase

<div class="bb-page">
    <HeaderMenu/>  
 
    <SidebarMenu />
    
    

    <main id="main" class="main">      
   
                @Body
            
    </main>
    
</div>


@code {
    
}